<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'authentication/css/about.css' %}">
</head>

<body>
    <div class="heading">
        <h1>ABOUT FETAL</h1>
    </div>
    <div id="content-pane">
        <div id="left-pane">
            <div class="in-heading">
                <h3>FETAL HEALTH CARE</h3>
                <hr>
            </div>
            <div class="content">
                <span align="justify">An unborn offspring that develops and grows inside the uterus (womb) of humans and
                    other mammals. In humans, the fetal period begins at 9 weeks after fertilization of an egg by a
                    sperm and ends at the time of birth.</span>
                <span align="justify">Fetal conditions occur as your unborn baby develops in the womb. These conditions
                    are also known as congenital, meaning a child is born with them. Some fetal conditions are genetic,
                    or inherited from a parent. Most fetal conditions occur for no known reason. Specialists at the
                    Fetal Care Center use the latest diagnostic technology to identify fetal problems. Early diagnosis
                    is critical to ensuring you and your unborn baby receive appropriate medical care.
                </span>
            </div>
            <div class="in-heading">
                <h3>TREATING FETAL CONDITIONS AT THE FETAL CARE </h3>
                <hr>
            </div>
            <div class="content">
                <span align="justify">Babies with certain birth defects may benefit from fetal surgery. Our experts
                    perform these highly complex procedures while your baby is still in the womb.</span>
                <span align="justify">Learn more about fetal surgery.For other fetal conditions, treatment may start
                    soon after birth. Unfortunately, not all fetal conditions are treatable.At the Fetal Care Center,
                    our high-risk pregnancy specialists diagnose and treat some of the most complex fetal conditions,
                    including:</span>
                <ul>
                    <li>Abdominal defects</li>
                    <li>Amniotic sac problems</li>
                    <li>Chest and lung conditions </li>
                    <li>Chromosomal disorders</li>
                    <li>Craniofacial defects</li>
                    <li>Extremity and skeletal abnormalities</li>
                    <li>Gastrointestinal abnormalities</li>
                    <li>Heart disease</li>
                    <li>Neurological conditions</li>
                    <li>Renal abnormalities</li>
                    <li>Abdominal defects</li>
                </ul>
            </div>
        </div>
        <div id="right-pane">
            
            <img src="{% static 'authentication/Images/fetal_1.jpg' %}">
            <img src="{% static 'authentication/Images/fetal_4.jpg' %}">
        </div>

    </div>
    <div class="footing">
        <p align="center">There is only one pretty child in the world, and every mother has it</p>
        <p align="center">Fill out the contact form and we will be in touch to provide a FREE consultation on
            understanding your specific challenges and identify opportunities to improve operations and patient care
            delivery at your eldercare facility.</p>
        <input type="submit" value="Contact Us" onclick="window.location.href='{% url 'contacting' %}'">
    </div>
    <script src="" async defer></script>
</body>

</html>