<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'authentication/css/home.css' %}" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <style type="text/css">
        .navbar-nav > li > a:hover{
        background-color:rgb(245, 25, 150);
    }
    </style>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand text-bold" href="#">
                    <img src="{% static 'authentication/Images/Logo.png' %}" width="100" alt="logo">
                    <span class="text" style="font-size: larger;color:rgba(228, 245, 0, 0.996); font-weight: bolder;"> Health Updates </span>
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link" style="font-size: large;color:white;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about' %}" class="nav-link" style="font-size: large;color:white;">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link" style="font-size: large;color:white">Predict</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="nav-link" style="font-size: large;color:white">Register</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'contacting' %}" class="nav-link" style="font-size: large;color:white">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <img src="{% static 'authentication/Images/Image2.jpg' %}" width="100%" height="500" alt="logo">
        <br><br>
        <div class="fs-4" style="display: flex; background-color: rgb(255, 255, 255);width: 100%;border: 2px solid wheat;padding: 30px;margin: auto;">
            <img src="{% static 'authentication/Images/small.png' %}" width = "20%" alt="logo">
            <p style="text-align: justify;color:rgb(29, 28, 28);font-family:georgia; font-size:medium;margin:auto; padding-left: 20px;"> In today’s era where there is a high demand of every service being offered online, healthcare 
            services can no longer be an exception. Health Updates Portal is way beyond the limited 
            functionality portals available in the market and has transformed the experience into a 
            user-friendly technology which brings not only brings patient’s entire medical history 
            on a single platform but also enables you to increase awareness and build interest via 
            online promotions. The online health Updates portal can improve communication between 
            patients and healthcare providers, resulting in better overall care and improved 
            health outcomes.
        </p>
        </div>
        <div style="width: 100%; height: 20px;"></div>
        <div style="padding: 30px 0 0 0;background-color: #F5F7F9;color: #7a7a7a;">
            <h1 style="text-align: center; color: #71767D; margin: auto;">Features</h1>
            <div style="width: 100%; display: flex; flex-wrap: wrap; padding: 20px;">
                <div style="width: 33.33%; text-align: center;">
                  <i class="fa fa-shield fa-5x" aria-hidden="true" style="color: crimson;"></i>
                  <p style="font-family: sans-serif;font-weight: bolder;">Easy and Secure Sign Up</p>
                  <p style="width: 100%; margin-top: 10px;margin-right: 10px; margin-left: 10px;">Registration is made secure by encrypting the data using advanced algorithms</p>
                </div>
                <div style="width: 33.33%; text-align: center;">
                  <i class="fa fa-bar-chart fa-5x" aria-hidden="true" style="color: rgb(255, 106, 0);"></i>
                  <p style="font-family: sans-serif;font-weight: bolder;">Simplified Dashboard</p>
                  <p style="width: 100%; margin-left: 10px; margin-right: 10px; margin-left: 10px;">Enhanced user experience with all patient information on dashboard</p>
                </div>
                <div style="width: 33.33%; text-align: center;">
                  <i class="fa fa-user-md fa-5x" aria-hidden="true" style="color: rgb(0, 0, 0);"></i>
                  <p style="font-family: sans-serif;font-weight: bolder;">Medical Expert Guidance</p>
                  <p style="width: 100%; margin-top: 10px; margin-right: 10px; margin-left: 10px;">Get Medical Expert Guidance through Online Communication</p>
                </div>
                <div style="width: 100%; height: 40px;"></div>
                <div style="width: 33.33%; text-align: center;">
                  <i class="fa fa-commenting fa-5x" aria-hidden="true" style="color: rgb(71, 134, 55);"></i>
                  <p style="font-family: sans-serif;font-weight: bolder;">Feedback and Support</p>
                  <p style="width: 100%; margin-top: 10px; margin-right: 10px; margin-left: 10px;">Patients can raise feedback and contact hospital staff in real time for support</p>
                </div>
                <div style="width: 33.33%; text-align: center;">
                  <i class="fa fa-table fa-5x" aria-hidden="true" style="color: rgb(190, 20, 220);"></i>
                  <p style="font-family: sans-serif;font-weight: bolder;">Data Encryption</p>
                  <p style="width: 100%; margin-top: 10px; margin-right: 10px; margin-left: 10px;">Medical Details provided by the user will be end to end encrypted</p>
                </div>
                <div style="width: 33.33%; text-align: center;">
                  <i class="fa fa-users fa-5x" aria-hidden="true" style="color: rgb(210, 220, 20);"></i>
                  <p style="font-family: sans-serif;font-weight: bolder;">Easy Access to Users</p>
                  <p style="width: 100%; margin-top: 10px; margin-right: 10px; margin-left: 10px;">This Interactive webpage allows you to easily access the information, contact details, predicted analytics</p>
                </div>
              </div>   
        </div> 
        <div style="width: 100%; height: 20px;"></div>
        <div style="background-image: url('static/authentication/Images/back1.jpg');">
        <section class="container1">
            <div class="card">
                <h1> Health Updates </h1><br><br>
                <div class="image">
                    <img src ="{% static 'authentication/Images/water.jfif' %}" alt="" />
                </div>
                <h2> Drink More Water </h2>
                <p> Getting enough water every day is important for your health. Drinking water can prevent dehydration, a condition that can cause unclear thinking, result in mood change, cause your body to overheat, and lead to constipation and kidney stones.  </p>
            </div>
            <div class="card">
                <h1> Health Updates </h1><br><br>
                <div class="image">
                  <img src="{% static 'authentication/Images/fruits.jfif' %}" alt="" />
                </div>
                <h2>Eat Fruits and Vegetables</h2>
                <p>Fruit and vegetables are a good source of vitamins and minerals, including folate, vitamin C and potassium.Fruit and vegetables contribute to a healthy, balanced diet.</p>
              </div>
              <div class="card">
                <h1> Health Updates </h1><br><br>
                <div class="image">
                  <img src="{% static 'authentication/Images/sleep.jpg' %}" alt="" />
                </div>
                <h2>Get Enough Sleep</h2>
                <p>May help you maintain or lose weight. Can improve concentration and productivity. May strengthen your heart. Supports a healthy immune system</p>
              </div>
              <div class="card">
                <h1> Health Updates </h1><br><br>
                <div class="image">
                  <img src="{% static 'authentication/Images/run.jpg' %}" alt="" />
                </div>
                <h2>Physical Activity</h2>
                <p>Exercise can help prevent excess weight gain or help maintain weight loss. When you engage in physical activity, you burn calories. The more intense the activity, the more calories you burn.</p>
              </div>
        </section>
        </div>
        <div style="width: 100%; height: 20px;"></div>
    </body>
</html>