.heading {
    color: white;
    padding: 50px;
    font-family: sans-serif;
    background-image: url("5.jpg");
    background-size: cover;
}

.in-heading {
    color: #71767d;
    font-family: sans-serif;
}

hr {
    color: #71767d;
}

.content>p,
li {
    color: #71767d;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 28px;
    margin-right: 150px;
    margin-left: 80px;
    font-size: 17px;
}

.footing {
    color: white;
    padding: 30px;
    font-family: sans-serif;
    background-image: url("2.jpg");
    background-size: cover;
}

.footing>p {
    color: white;
    font-style: italic;
    margin-right: 150px;
    margin-left: 80px;
}

.footing>input[type="submit"] {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 10%;
    margin-right: 150px;
    margin-left: 550px;
}

div#content-pane {
    display: inline-flex;
    width: 100%;
}

div#left-pane {
    width: 65%;
    padding: 10px;
}

div#right-pane {
    width: 35%;
    padding-top: 10px;
}

div#right-pane>img {
    width: 100%;
}