<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'authentication/css/main.css' %}" type="text/css">
    </head>
    <body>
        <h1>Register to Health Care Portal</h1>
        <form action="/register" method="post">
            {% csrf_token %}

            <div class="headingsContainer">
                <h3>Sign Up</h3>
                <p>Register your details here!</p>
            </div>

        <!-- Main container for all inputs -->
            <div class="mainContainer">
                <label for="username">Username</label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <br><br>

                <label for="fname">First Name</label>
                <input type="text" placeholder="Enter Your First Name" name="fname" required>

                <br><br>

                <label for="lname">Last Name</label>
                <input type="text" placeholder="Enter Your Last Name" name="lname" required>

                <br><br>

                <label for="email">Email Address</label>
                <input type="email" placeholder="Enter Your Email Address" name="email" required>

                <br><br>

                <!-- Password -->
                <label for="pswrd">Password</label>
                <input type="password" placeholder="Enter Password" name="pswrd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>

                <br><br>

                <label for="confirm">Confirm Password</label>
                <input type="password" placeholder="Confirm Password" name="confirm" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>

                <br><br>
                <button type="submit">Register</button>

                <br><br>
                <!-- Sign up link -->
                <p class="register">Already a member?  <a href="{% url 'login' %}">Sign In!</a></p>

            </div>

        </form>
    </body>
</html>